[submodule "capev2/CAPEv2"]
	path = capev2/CAPEv2
	url = https://github.com/extra2000/CAPEv2.git
[submodule "capev2/doomedraven-tools"]
	path = capev2/doomedraven-tools
	url = https://github.com/extra2000/doomedraven-tools.git
[submodule "salt/roots/formulas/cockpit-formula"]
	path = salt/roots/formulas/cockpit-formula
	url = https://github.com/extra2000/cockpit-formula.git
[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
[submodule "salt/roots/formulas/zabbix-agent-formula"]
	path = salt/roots/formulas/zabbix-agent-formula
	url = https://github.com/extra2000/zabbix-agent-formula.git
[submodule "salt/roots/formulas/filebeat-formula"]
	path = salt/roots/formulas/filebeat-formula
	url = https://github.com/extra2000/filebeat-formula.git
[submodule "salt/roots/formulas/nginx-formula"]
	path = salt/roots/formulas/nginx-formula
	url = https://github.com/extra2000/nginx-formula.git
