# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set tplroot = tpldir.split('/')[0] %}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}

{%- set _config = salt['config.get'](tplroot, default={}) %}

{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
      merge=salt['grains.filter_by'](
        _config,
        default='lookup'
      )
    )
%}

{%- set config = salt['grains.filter_by']({'defaults': defaults}, default='defaults', merge=_config) %}

{%- set NGINX = config %}
