# -*- coding: utf-8 -*-
# vim: ft=yaml

zabbix_agent:
  lookup:
    hostuser:
      name: vagrant
      group: vagrant
    config:
      hostname: capev2-box
      passive_check:
        accepted_servers: "zabbix-box"
        listen_ip: 0.0.0.0
        listen_port: 10050
        start_agents: 3
      active_check:
        servers: "zabbix-box:10051"
